@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  .navigation-top
    .header-mnu 
      .menu-item 
        a
          font-size: 12px
          letter-spacing: 0

  .logo img
    max-width: 160px
    margin: 10px auto
  
  .logo .img-responsive
    text-align: center


// ≥992px
+media-breakpoint-down(md)
  .logo
    div
      width: 120px
      margin: 0 auto

  .nav-menu
    text-align: center

  .slider
    min-height: 450px
    &-title
      top: 20%
      left: 10%
      transform: translateX(0)
      font-size: 36px
      padding-right: 50px
    &-caption
      font-size: 24px
  
  aside .content-header
    font-size: 28px

  .sidebar-item
    margin-bottom: 20px
    ul
      li
        a
          padding: 7px 7px
          font-size: 14px

// ≥768px
+media-breakpoint-down(sm)
  // header.container-fluid
  //   padding: 0
  //   .navigation
  //     padding: 0
  //     li
  //       p,a
  //         font-size: 22px;
  //         line-height: 60px;
  //         margin-bottom: 0
  //     .hamb
  //       padding-left: 30px
  //     .social
  //       padding-right: 10px;
  //       text-align: -webkit-right;


  .logo
    position: absolute
    z-index: 300
    width: 84px
    top: 0px
    left: 50%
    transform: translateX(-42px)
    div
      margin: 0
      width: 53px
    img.img-responsive
      margin-top: 5px

  .header-mnu
    display: none

  .header-mnu.side-showed
    display: block
    position: fixed
    top: 0
    left: 0
    width: 70%
    min-height: 100vh
    background-color: transparentize($accent, .1)
    z-index: 1000
    li
      display: block
      margin-top: 25px
      a
        color: #fff
        font-size: 18px !important
        font-weight: lighter
        &:hover
          color: darken($accent, 25%)

  aside .content-header
    font-size: 28px

  .sidebar-item
    margin-bottom: 20px
    ul
      li
        a
          padding: 7px 7px
          font-size: 14px

  .hamb
    display: block
    transition: all .5s

  .slider
    min-height: 400px
    &-title
      top: 10%
      left: 10%
      transform: translateX(0)
      font-size: 30px
      padding-right: 30px
    &-caption
      font-size: 20px
      font-family: $secondary-font

// ≥576px
+media-breakpoint-down(xs)
  // header.container-fluid
  //   padding: 0
  //   .navigation
  //     padding: 0
  //     li
  //       p
  //         font-size: 17px;
  //         line-height: 38px;
  //         margin-bottom: 0
  //     .hamb
  //       padding-left: 10px
  //     .social
  //       padding-right: 10px;
  //       text-align: -webkit-right;


  .logo
    position: absolute
    z-index: 300
    width: 84px
    top: 0px
    left: 50%
    transform: translateX(-42px)
    div
      margin: 0
      width: 53px
    img.img-responsive
      margin-top: 5px
  



  .post
    margin: 0

  .post-img-title
    font-size: 16px
  
  .slider
    min-height: 280px
    &-title
      top: 10%
      left: 10%
      transform: translateX(0)
      font-size: 18px
      padding-right: 10px
    &-caption
      font-size: 14px
      font-family: $secondary-font

  .slider
    img
      height: 100%
    img.img-responsive
      width: initial
      max-width: initial
  
  .connect-btn
    margin-bottom: 20px
  .partners-title
    font-size: 16px

  .sidebar-item
    margin-bottom: 20px
    ul
      li
        a
          padding: 7px 7px
          font-size: 14px

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)


// ≤1200px
+media-breakpoint-up(xl)
