$default-font: "pt-sans-local", sans-serif
$secondary-font: "pt-serif-local", sans-serif
$accent: #2988f1
$text: #5c5c5c
$light-gray-bg: #F5F5F5

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
