@import "theme"
@import "vars"
@import "fonts"
@import "libs"
@import "owl.carousel.min"
@import "owl.theme.default"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	font-weight: normal
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

a
	color: $text
	text-decoration: underline
	&:hover
		text-decoration: none
	
li
	display: inline-block
	list-style-type: none

ul
	margin-bottom: 0
	padding: 0

//*****************
	// HEADER
//*****************

.logo	
	.img-responsive
		margin-top: 25px
	
.logo img
	max-width: 200px
	transition: all .3s

.navigation-top
	background: linear-gradient(to bottom, rgb(253,253,253) 62%,rgb(252,252,252) 75%,rgb(252,252,252) 75%,rgb(241,241,241) 100%)		

.nav-menu
	line-height: 0

.header-mnu
	position: relative
	transition: all .7s ease-in
	.menu-item
		display: inline-block
		a
			display: block
			padding: 0 16px
			color: $text
			font-size: 14px
			line-height: 60px
			font-weight: 700
			letter-spacing: 0.1em
			text-transform: uppercase
		&:hover a
			color: $accent

.current_page_item
	a
		color: $accent	

.social
	padding: 0 15px
	li
		line-height: 60px
		a
			display: block
			padding: 0 10px
			img
				height: 22px
				width: 22px
				color: $text
				opacity: .5
			&:hover img
				opacity: 1
				color: $accent
	

.main-nav
	li
		font-family: $secondary-font
		text-align: center
		padding: 0
		p
			display: block
			font-size: 25px
			line-height: 68px
			border-right: 1px solid #e5e5e5
			border-bottom: 1px solid #e5e5e5
			transition: all .6s
			&:hover
				background-color: $accent
				color: #fff


	//preloader
#p_prldr
	position: fixed
	left: 0
	top: 0
	right: 0
	bottom: 0
  background: #CB356B
	background: -webkit-linear-gradient(to right, #BD3F32, #CB356B)
	background: linear-gradient(to right, #BD3F32, #CB356B)
	z-index: 30
 
.contpre small
	font-size: 18px
 
.contpre
	width: 250px
	height: 100px
	position: absolute
	left: 50%
	top: 48%
	margin-left: -125px
	margin-top: -75px
	color: #fff
	font-size: 30px
	letter-spacing: 2px
	text-align: center
	line-height: 35px
 
#p_prldr .svg_anm
	position: absolute
	width: 141px
	height: 141px
	background: url(assets/img/rings.svg) center center no-repeat
	background-size: 141px    
	top: -100px
	left: 19%


//hambubreger

.hamb
	display: none
	.is-active
		position: fixed
		top: 20px
		right: 20px



//*************************************
//            CONTENT
//*************************************
.content
	padding-top: 20px

.content-header
	color: #000000
	font-family: $secondary-font
	font-weight: 400
	font-size: 40px

.pagination
	padding: 65px 0px
	text-align: center
	.page-numbers
		display: inline-block
		font-family: $default-font
		font-size: 20px
		font-weight: 400
		line-height: 31px
		color: #7b7b7b
		margin: 0 10px
		width: 31px
		height: 31px	
		&:hover
			color: #000000
	.current
			color: #fff
			background: $accent
			border-radius: 100px
	.screen-reader-text
		display: none
	.prev
		margin-right: 15px

.page-links
	li
		display: block
		a
			color: $accent
			font-size: 1.1em
			&:hover
				color: darken($accent, 10%) 




//********************************
//         SLIDER
//********************************

.slider-container
	margin-top: 20px
	padding: 0

.slider
	position: relative
	min-height: 650px
	justify-content: center
	align-items: center
	z-index: 90
	&-title
		font-family: $secondary-font
		font-size: 40px
		position: absolute
		top: 10%
		left: 50%
		transform: translateX(-50%)
		z-index: 100
		color: #fff
	&-caption
		font-family: $default-font
		font-size: 22px
		position: absolute
		bottom: 10%
		left: 10%
		// transform: translateX(-50%)
		z-index: 100
		color: #fff
	&-img
		position: absolute
		top: 0
		right: 0
		bottom: 0
		left: 0
		z-index: 99
		
.bgd
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	z-index: 200
	background-color: rgba(0,0,0, .7)
	
		


//********************************
//         POST-news
//********************************

.post
	margin: 30px
	background: #f7f7f7
	-webkit-transition: all 0.4s ease-in-out
	-moz-transition: all 0.4s ease-in-out
	-o-transition: all 0.4s ease-in-out
	transition: all 0.4s ease-in-out
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	&:hover
		background: #ececec


.post-img
	position: relative

.post-img-title
  position: absolute
  bottom: 0
  width: 100%
  background: -moz-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%)
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(0,0,0,0)),color-stop(100%,rgba(0,0,0,0.95)))
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%)
  background: -o-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%)
  background: -ms-linear-gradient(top,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%)
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,0.95) 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000',endColorstr='#e6000000',GradientType=0 )
  font-family: $secondary-font
  font-size: 27px
  line-height: 1.75
  margin: 7px 0 0 0
  font-weight: normal
  a
  	padding: 20px
  	color: #fff
  	display: block

.post-short-info
	margin-top: 15px
	font-size: 17px
	line-height: 1.7
	color: #000

.post-descr
	padding: 20px

.post-descr-info
	padding-left: 0
	position: relative
	.post-date
		color: $accent
		text-align: right
		display: block
	.post-categories
		text-align: left
		position: absolute
		left: 0
		padding: 0
		li
			display: inline-block
			margin-right: 3px
			padding: 0 7px
			background-color: $accent
			a
				font-weight: bold
				color: #ffffff


//********************************
//         SIDEBAR
//********************************

aside
	padding-top: 50px
	.content-header
		font-size: 32px

.sidebar-item
	margin-bottom: 20px
	ul
		padding-left: 0
		li
			display: block
			a
				display: inline-block
				padding: 10px 10px
				font-weight: 400
				font-size: 17px
				color: #000000
				border-bottom: 1px solid #e5e5e5
				&:hover
					color: $accent
					text-decoration: none
			span
				position: relative
				&::before
					content: '|'
					display: inline-block
					position: absolute
					height: 30px
					font-size: 27px
					top: -14px
					left: -9px
	.post-date
		color: $accent
		margin-left: 13px

#categories-3 li
	display: inline-block
	margin: 3px
	background-color: #2988f1
	line-height: .8
	a
		font-weight: bold
		color: #ffffff

.searchform
	input[type=text]
		border-radius: 3px
		padding: 0 10px
		input[type=text]:focus
			outline: 2px solid $accent
	input[type=submit]
		border-radius: 3px
		border: 1px solid lighten($accent, 15%)
		background-color: $accent
		color: #fff
		
	

//***********************************
//          INFO
//***********************************

.info
	padding-bottom: 100px
	div
		text-align: center

.title
	padding: 50px 0px 50px 0px
	text-align: center
	h2
		display: inline-block
		font-family: $secondary-font
		font-weight: 400
		font-size: 40px
		padding-right: 20px

.connect-btn
	display: inline-block
	position: relative
	padding: 36px 0
	margin: 0 auto
	width: 100%
	color: #000
	font-size: 17px
	font-weight: 700
	letter-spacing: 0.1em
	text-transform: uppercase
	text-align: center
	border: 1px solid #e5e5e5
	-webkit-transition: all 0.4s ease-in-out
	-moz-transition: all 0.4s ease-in-out
	-o-transition: all 0.4s ease-in-out
	transition: all 0.4s ease-in-out
	&::before
		content: ""
		display: block
		position: absolute
		width: 82px
		height: 63px
		background: url(assets/img/connect-icons.png) no-repeat
		top: -42px
		left: calc(50% - 41px)
		-webkit-transition: top ease-in-out 0.5s
		-moz-transition: all ease-in-out 1s
		-o-transition: all ease-in-out 1s
		-ms-transition: all ease-in-out 1s
		transition: top 0.4s linear 0s, height 0.4s linear 0s
	&:hover
		color: #fff
		background-color: $accent
		border-color: $accent

.connect-btn:hover:before
	display: block
	top: -82px
	z-index: -5

.connect-btn-wrap
	width: 300px
	display: block

//**********************************
//             PARTNERS
//*********************************

.partners
	background-color: $light-gray-bg
	padding-bottom: 20px
	&-item
		padding: 13px 8px
		background-color: #fff
		box-shadow: 2px 2px 11px 7px rgba(0, 0, 0, 0.07)
		max-height: 350px
		overflow: hidden
		cursor: pointer
	&-image
		min-height: 150px
		text-align: center
	&-title
		color: darken($accent, 15%)
		text-align: center
		letter-spacing: .05em
	p
		font-size: 13px

//**********************************
//             FOTER
//*********************************

footer
	background-color: #fafafa
	.col-4
		text-align: left
	&::before
    content: ""
    display: block
    position: absolute
    width: 100%
    height: 10px
    box-shadow: inset 0 32px 5px -27px rgba(0, 0, 0, 0.07)
    z-index: 50
	h3
		font-weight: 700
		line-height: 260%
		letter-spacing: 0.12em
		text-transform: uppercase
		color: inherit
		font-size: 16px

.footer-container-left
  background: #f3f3f3
  box-shadow: 17px 0px 21px -17px #C7C7C7
  padding-top: 70px
  padding-bottom: 70px

.footer-list
	color: #000
	padding: 0
	li
		display: block
		a
	    font-size: 18px
	    line-height: 1.7
	    color: inherit
	    &:hover
	    	color: $accent
	    	text-decoration: none




.footer-list__lefted
	padding-left: 100px

.footer-info
	padding: 50px 80px 50px 40px
	font-size: 18px
	span
		padding-left: 10px
	p
		margin-top: 20px
		line-height: 140%
	a
		color: $accent
	.footer-contacts li
		display: block

.footer-img
	width: 70px
	vertical-align: top

.footer-img-block
	vertical-align: top
	p:first-of-type 
		display: inline-block
		width: 72%
		vertical-align: top
		font-size: 16px

//********************************
//        magnific popup
//********************************

.white-popup
	display: flex
	align-items: center
	justify-content: center
	&-wrap
		max-width: 600px
		background-color: #ffffff
		border-radius: 4px
	&-img
		box-shadow: 0 2px 10px rgba(0,0,0,.65)
	&-content
		padding: 10px



@import "media" // Always at the end
